In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=9f5b1b2a9a643a7a102c94e7fcf8a2348269ed5e98a2599077f67e352f316882
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PythonPi").getOrCreate()

In [4]:
empdata = spark.read.csv('/content/EmployeeData.csv',header=True)
empdata.show()

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|    NULL|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|    NULL|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    NULL|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
|  6|     Baily|   Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33|    NULL|
|  7|    Eunice|   Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
|  8|  Aubrette|  Lippett| alippett7@nifty.com|Female|165713|1919-12-16 08:20:42|60150.66|
|  9|   Sibylla|Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30|    NULL|
| 10|      NULL|   Altree|paltree9@dropbox.com|Female|197594|1975-06-21 23:27:12|72533.37|
| 11|      Coop|    Richt|   crichta@sogou.com|  Male| 19964|1939-02-13 16:18:24|56973.41|
| 12|  Giuseppe|  Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03|    NULL|
| 13|    Lovell|  Iorizzo|liorizzoc@cpanel.net|  Male|189150|1949-06-06 16:25:20| 41474.8|
| 14|       Deb|    Mogra|   dmograd@bbc.co.uk|Female|197829|1997-07-27 14:55:52|46528.57|
| 15|  Hastings| Jelliman|hjellimane@histat...|  Male|179296|1915-07-05 07:02:06|80194.64|
| 16|     Josee|   Burnep|    jburnepf@php.net|  NULL| 78569|1923-11-08 20:59:14|88925.13|
| 17|     Gilly|   Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57|    NULL|
| 18|      NULL|Schruyers|lschruyersh@desde...|  Male|109936|1979-06-16 01:12:48|37243.09|
| 19|     Maris|Chatelain| mchatelaini@unc.edu|Female|190047|2008-01-11 17:16:21|76469.65|
| 20|    Casper|  Aughtie|    caughtiej@vk.com|  Male| 38689|1982-04-06 05:13:49| 80404.8|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 20 rows

In [50]:
orderschema = 'id int, first_name string,last_name string,email string,gender string,salary int,creationDate Date,bonus double'
df = spark.read.csv('/content/EmployeeData.csv',header=True,schema=orderschema)
df.show()

+---+----------+---------+--------------------+------+------+------------+--------+
| id|first_name|last_name|               email|gender|salary|creationDate|   bonus|
+---+----------+---------+--------------------+------+------+------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|  1957-09-09|    NULL|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|  1907-05-10|    NULL|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|  1941-01-24|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|  1942-05-09|    NULL|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|  1950-07-26| 1432.12|
|  6|     Baily|   Antony| bantony5@sfgate.com|  Male|127337|  1913-10-14|    NULL|
|  7|    Eunice|   Cardus|ecardus6@scientif...|Female|136574|  1901-11-02|38676.94|
|  8|  Aubrette|  Lippett| alippett7@nifty.com|Female|165713|  1919-12-16|60150.66|
|  9|   Sibylla|Sickamore|ssickamore8@faceb...|Female|107243|  2020-03-15|    NULL|
| 10|      NULL|   Altree|paltree9@dropbox.com|Female|197594|  1975-06-21|72533.37|
| 11|      Coop|    Richt|   crichta@sogou.com|  Male| 19964|  1939-02-13|56973.41|
| 12|  Giuseppe|  Scimoni|gscimonib@craigsl...|  Male|176531|  1967-04-06|    NULL|
| 13|    Lovell|  Iorizzo|liorizzoc@cpanel.net|  Male|189150|  1949-06-06| 41474.8|
| 14|       Deb|    Mogra|   dmograd@bbc.co.uk|Female|197829|  1997-07-27|46528.57|
| 15|  Hastings| Jelliman|hjellimane@histat...|  Male|179296|  1915-07-05|80194.64|
| 16|     Josee|   Burnep|    jburnepf@php.net|  NULL| 78569|  1923-11-08|88925.13|
| 17|     Gilly|   Fownes|gfownesg@redcross...|Female|  2527|  1946-07-30|    NULL|
| 18|      NULL|Schruyers|lschruyersh@desde...|  Male|109936|  1979-06-16|37243.09|
| 19|     Maris|Chatelain| mchatelaini@unc.edu|Female|190047|  2008-01-11|76469.65|
| 20|    Casper|  Aughtie|    caughtiej@vk.com|  Male| 38689|  1982-04-06| 80404.8|
+---+----------+---------+--------------------+------+------+------------+--------+
only showing top 20 rows

<b> Find the count of duplicate employee records in the input file ?

In [44]:
df.groupBy('id').count().sort('count',ascending=False).show()

+----+-----+
|  id|count|
+----+-----+
|NULL|   30|
| 148|    1|
| 463|    1|
| 471|    1|
| 496|    1|
| 833|    1|
| 243|    1|
| 392|    1|
| 540|    1|
| 623|    1|
| 737|    1|
| 858|    1|
| 897|    1|
|  31|    1|
| 516|    1|
|  85|    1|
| 251|    1|
| 451|    1|
| 580|    1|
| 808|    1|
+----+-----+
only showing top 20 rows

Find out how many records have Gender value missing.

In [45]:
df.filter(df.gender.isNull()).count()

28

<b> Are there any missing values in the "bonus" field? If so, filled them defualt bonus 100.

In [46]:
df.filter(df.bonus.isNull()).count()

166

In [52]:
# from types import NoneType
# df = df.replace(to_replace=NoneType,value=100,subset=['bonus'])

df2 = df.na.fill(value=100,subset=['bonus'])
df2.show()

+---+----------+---------+--------------------+------+------+------------+--------+
| id|first_name|last_name|               email|gender|salary|creationDate|   bonus|
+---+----------+---------+--------------------+------+------+------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|  1957-09-09|   100.0|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|  1907-05-10|   100.0|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|  1941-01-24|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|  1942-05-09|   100.0|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|  1950-07-26| 1432.12|
|  6|     Baily|   Antony| bantony5@sfgate.com|  Male|127337|  1913-10-14|   100.0|
|  7|    Eunice|   Cardus|ecardus6@scientif...|Female|136574|  1901-11-02|38676.94|
|  8|  Aubrette|  Lippett| alippett7@nifty.com|Female|165713|  1919-12-16|60150.66|
|  9|   Sibylla|Sickamore|ssickamore8@faceb...|Female|107243|  2020-03-15|   100.0|
| 10|      NULL|   Altree|paltree9@dropbox.com|Female|197594|  1975-06-21|72533.37|
| 11|      Coop|    Richt|   crichta@sogou.com|  Male| 19964|  1939-02-13|56973.41|
| 12|  Giuseppe|  Scimoni|gscimonib@craigsl...|  Male|176531|  1967-04-06|   100.0|
| 13|    Lovell|  Iorizzo|liorizzoc@cpanel.net|  Male|189150|  1949-06-06| 41474.8|
| 14|       Deb|    Mogra|   dmograd@bbc.co.uk|Female|197829|  1997-07-27|46528.57|
| 15|  Hastings| Jelliman|hjellimane@histat...|  Male|179296|  1915-07-05|80194.64|
| 16|     Josee|   Burnep|    jburnepf@php.net|  NULL| 78569|  1923-11-08|88925.13|
| 17|     Gilly|   Fownes|gfownesg@redcross...|Female|  2527|  1946-07-30|   100.0|
| 18|      NULL|Schruyers|lschruyersh@desde...|  Male|109936|  1979-06-16|37243.09|
| 19|     Maris|Chatelain| mchatelaini@unc.edu|Female|190047|  2008-01-11|76469.65|
| 20|    Casper|  Aughtie|    caughtiej@vk.com|  Male| 38689|  1982-04-06| 80404.8|
+---+----------+---------+--------------------+------+------+------------+--------+
only showing top 20 rows

<b> Are there any employees with negative salary or bonus amounts in the input file? If so, how many?

In [57]:
df2.filter((df2.salary < 0)| (df2.bonus < 0)).count()

0

<b> Replace all the null/emtpy value in email column with admin@azurelib.com

In [58]:
df2.filter(df2.email.isNull()).count()

115

In [68]:
df2 = df2.na.fill(value='admin@azurelib.com',subset=['email'])

In [70]:
df2.show(30)

+----+----------+-----------+--------------------+------+------+------------+--------+
|  id|first_name|  last_name|               email|gender|salary|creationDate|   bonus|
+----+----------+-----------+--------------------+------+------+------------+--------+
|   1|    Valene|     Ingley|vingley0@livejour...|Female| 44104|  1957-09-09|   100.0|
|   2|  Lynnelle|      Hurll| lhurll1@answers.com|Female|112411|  1907-05-10|   100.0|
|   3|   Miranda|      Train|   mtrain2@imgur.com|Female| 91073|  1941-01-24|12875.54|
|   4|    Dulsea|       Foss|dfoss3@dagondesig...|Female|193291|  1942-05-09|   100.0|
|   5|    Anatol|    Dunklee| adunklee4@google.de|  Male| 22175|  1950-07-26| 1432.12|
|   6|     Baily|     Antony| bantony5@sfgate.com|  Male|127337|  1913-10-14|   100.0|
|   7|    Eunice|     Cardus|ecardus6@scientif...|Female|136574|  1901-11-02|38676.94|
|   8|  Aubrette|    Lippett| alippett7@nifty.com|Female|165713|  1919-12-16|60150.66|
|   9|   Sibylla|  Sickamore|ssickamore8@faceb...|Female|107243|  2020-03-15|   100.0|
|  10|      NULL|     Altree|paltree9@dropbox.com|Female|197594|  1975-06-21|72533.37|
|  11|      Coop|      Richt|   crichta@sogou.com|  Male| 19964|  1939-02-13|56973.41|
|  12|  Giuseppe|    Scimoni|gscimonib@craigsl...|  Male|176531|  1967-04-06|   100.0|
|  13|    Lovell|    Iorizzo|liorizzoc@cpanel.net|  Male|189150|  1949-06-06| 41474.8|
|  14|       Deb|      Mogra|   dmograd@bbc.co.uk|Female|197829|  1997-07-27|46528.57|
|  15|  Hastings|   Jelliman|hjellimane@histat...|  Male|179296|  1915-07-05|80194.64|
|  16|     Josee|     Burnep|    jburnepf@php.net|  NULL| 78569|  1923-11-08|88925.13|
|  17|     Gilly|     Fownes|gfownesg@redcross...|Female|  2527|  1946-07-30|   100.0|
|  18|      NULL|  Schruyers|lschruyersh@desde...|  Male|109936|  1979-06-16|37243.09|
|  19|     Maris|  Chatelain| mchatelaini@unc.edu|Female|190047|  2008-01-11|76469.65|
|  20|    Casper|    Aughtie|    caughtiej@vk.com|  Male| 38689|  1982-04-06| 80404.8|
|  21|    Kristo|    Giraudy|  admin@azurelib.com|  Male|152116|  1962-08-16| 5982.54|
|  22|     Becki|      Conry|bconryl@examiner.com|Female| 10203|  2003-02-07|47067.23|
|  23|      Edie|      Orniz|eornizm@moonfruit...|Female| 81920|  1982-10-03|20019.85|
|  24|   Sharity|     Fronks|sfronksn@economis...|Female|169527|  1951-06-14| 4960.71|
|  25|     Vally|   Dahlberg|vdahlbergo@dyndns...|Female| 80628|  1924-07-07|60914.52|
|  26|     Effie|Maffioletti|emaffiolettip@pos...|Female| 34228|  1986-03-23|31496.73|
|NULL|       Lev|  Jodlowski|ljodlowskiq@addto...|  Male| 69824|        NULL|48592.15|
|  28| Sallyanne|  Iacobucci|  admin@azurelib.com|Female|  2339|  1939-05-10| 66003.0|
|  29|      NULL|     Nibley|  admin@azurelib.com|Female|165764|  2019-08-30|93953.74|
|  30|    Gretta|       NULL|gdeleat@webeden.c...|Female|134143|  2001-03-19|   100.0|
+----+----------+-----------+--------------------+------+------+------------+--------+
only showing top 30 rows

<b> Remove all the records where any record has any null values. Find out the total count of the records now.

In [74]:
df2.count()

1000

In [76]:
df2.na.drop()

686

In [78]:
df2.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = false)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- creationDate: date (nullable = true)
 |-- bonus: double (nullable = false)

In [77]:
df2.count()

1000

In [80]:
from pyspark.sql.functions import *

In [82]:
df2 = df2.na.drop()
df2.count()

686

In [84]:
df.select('first_name').substr('first_name',1,3).show()

AttributeError: 'DataFrame' object has no attribute 'substr'

In [85]:
df.select(substring(col('first_name'), 1, 3)).show() # calls substring on the 'first_name' column

+---------------------------+
|substring(first_name, 1, 3)|
+---------------------------+
|                        Val|
|                        Lyn|
|                        Mir|
|                        Dul|
|                        Ana|
|                        Bai|
|                        Eun|
|                        Aub|
|                        Sib|
|                       NULL|
|                        Coo|
|                        Giu|
|                        Lov|
|                        Deb|
|                        Has|
|                        Jos|
|                        Gil|
|                       NULL|
|                        Mar|
|                        Cas|
+---------------------------+
only showing top 20 rows