In [ ]:
def my_fun():
  #function body
  pass

In [ ]:
def say_hello(name):
  print("hello there!!! ",name)

say_hello("Riyad")
print("I am here")

I am here

In [ ]:
def product(x,y):
  result = x*y
  return result

ans = product(15,10)
print("the result is ",ans)

the result is  150

In [ ]:
firstno = int(input("Enter first number. "))
secno = int(input("Enter second number. "))
ans = product(firstno,secno)
print("the result is ",ans)

Enter first number. 6
Enter second number. 5
the result is  30

In [ ]:
# convert centimeters to feet
# 1 feet = 30.48 cm

def cm_to_feet(lengthcm):
  feetval = lengthcm / 30.48
  return feetval

cm = float(input("Enter the length"))
feet = cm_to_feet(cm)
print(f"{cm} centimeters is equal to {round(feet,2)} feet")

Enter the length500
500.0 centimeters is equal to 16.4 feet

In [ ]:
# write a function to check whether the number is positive or negative
def pos_or_negative(num):
  if num > 0:
    return "Positive"
  else:
    return "negative"

num = int(input("Enter a number"))
pos_or_negative(num)

Enter a number-54

'negative'

In [ ]:
# Sample list of words
word_list = ["apple", "banana", "grape", "python", "programming", "algorithm"]

# Implement the function to count vowels in a word
def count_vowels(word):
    vowels = "aeiouAEIOU"
    count = 0
    for char in word:
        if char in vowels:
            count += 1
    return count

# Use a for loop to iterate through the word list and display the results
for word in word_list:
    vowel_count = count_vowels(word)
    print(f"The word '{word}' has {vowel_count} vowels.")

In [ ]:
words = ["Malayalam","chair","table","mouse","laptop","keyboard"]
vowels = "aeiou"
vowelsinword =[]
count = 0
for i in words: #iterating the list elements
  print("list data is : ",i)
  for j in i: #iterating the characters in each word
    if j in vowels: #checking if the character in vowels string
      if j not in vowelsinword:
        vowelsinword.append(j)
  print("Count is : ",len(vowelsinword))
  print("Vowels are : ",vowelsinword)
  vowelsinword =[]
  count = 0

list data is :  Malayalam
Count is :  1
Vowels are :  ['a']
list data is :  chair
Count is :  2
Vowels are :  ['a', 'i']
list data is :  table
Count is :  2
Vowels are :  ['a', 'e']
list data is :  mouse
Count is :  3
Vowels are :  ['o', 'u', 'e']
list data is :  laptop
Count is :  2
Vowels are :  ['a', 'o']
list data is :  keyboard
Count is :  3
Vowels are :  ['e', 'o', 'a']

In [ ]:
# write a function to check whether the number is odd or even
def odd_or_even(num):
  if num%2 == 0:
    return "Even Number"
  else:
    return "Odd number"

num = int(input("Enter a number"))
odd_or_even(num)

Enter a number15

'Odd number'

In [ ]:
def product(x,y):
  result = x-y
  return result

ans = product(10,15)
print("the result is ",ans)

the result is  -5

In [ ]:
def say(message, times=3):
  print(message * times)

say("hello ",10)

hello hello hello hello hello hello hello hello hello hello

In [ ]:
def total_calc(bill_amount,tip_perc=10):
  total = bill_amount*(1 + 0.01*tip_perc)
  total = round(total,2)
  print(1 + 0.01*tip_perc)
  print(f"Please pay ${total}")

total_calc(150)

In [ ]:
# Sample list of numbers
number_list = [23, 56, 12, 67, 45, 78, 33, 90, 24, 17]

# Implement the function to calculate the average of even numbers
def calculate_average_even(numbers):
    even_numbers = [num for num in numbers if num % 2 == 0]
    if even_numbers:
        return sum(even_numbers) / len(even_numbers)
    else:
        return 0

# Implement the function to calculate the average of odd numbers
def calculate_average_odd(numbers):
    odd_numbers = [num for num in numbers if num % 2 != 0]
    if odd_numbers:
        return sum(odd_numbers) / len(odd_numbers)
    else:
        return 0

# Display the results
average_even = calculate_average_even(number_list)
average_odd = calculate_average_odd(number_list)

print(f"The average of even numbers is: {average_even:.2f}")
print(f"The average of odd numbers is: {average_odd:.2f}")

In [ ]:
#DEFAULT ARGUMENT
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
#KEYWORD ARGUMENT
def greet_person(name, age, location="Unknown"):
    print(f"Hello {name}! You are {age} years old and from {location}.")

greet_person(name="Alice", age=30, location="New York")
greet_person( age=25, name="Bob")

Hello Alice! You are 30 years old and from New York.
Hello Bob! You are 25 years old and from Unknown.

You are tasked with creating a program that analyzes a list of numbers. Write a Python function named analyze_numbers that takes a list of integers as input and returns a dictionary containing the following information:

The sum of all numbers in the list.
The average (mean) of the numbers.
The maximum and minimum numbers in the list.
Implement the function and demonstrate its usage by calling it with a sample list of numbers.

In [ ]:
def analyze_numbers(numbers):
    if not numbers:
        return None  # Return None for an empty list

    result = {
        'sum': sum(numbers),
        'average': sum(numbers) / len(numbers),
        'maximum': max(numbers),
        'minimum': min(numbers)
    }
    return result

# Sample list of numbers
number_list = [5, 12, 8, 20, 15]

# Call the function and display the results
result_dict = analyze_numbers(number_list)

if result_dict is not None:
    print(f"List: {number_list}")
    print(f"Sum: {result_dict['sum']}")
    print(f"Average: {result_dict['average']:.2f}")
    print(f"Maximum: {result_dict['maximum']}")
    print(f"Minimum: {result_dict['minimum']}")
else:
    print("The list is empty.")

List: [5, 12, 8, 20, 15]
Sum: 60
Average: 12.00
Maximum: 20
Minimum: 5

In [ ]:
# Arbitrary Keyword Arguments

def sum_numbers(*args):
    print(type(args))
    total = 0
    for num in args:
        total += num
    return total

result = sum_numbers(1, 2, 3, 4, 5,6,7)
print("Sum:", result)

<class 'tuple'>
Sum: 28

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
# key-value arguements
def print_info(**kwargs):
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Call the function with various keyword arguments

# print_info(name="Alice", age=30, city="New York")
print_info(country="USA", occupation="Engineer")

<class 'dict'>
country: USA
occupation: Engineer

In [ ]:
#lambda

square = lambda x: x * x

# Example usage:
number = 5
print("Square of", number, "is", square(number))

In [ ]:
addition = lambda x, y: x + y

# Example usage:
result = addition(5, 3)
print("Result of addition:", result)

# -----------------------------------------OR-----------------------------------------

def addition(x, y):
    return x + y

In [3]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x * x, numbers))

print("Original numbers:", numbers)
print("Squares of numbers:", squared_numbers)

#We start by defining a list called numbers containing some integer values: [1, 2, 3, 4, 5].

# We then use the map() function to apply a given function (in this case, a lambda function) to each item in the iterable (in this case, the list numbers).
# The map() function returns an iterator that yields the results.

# The lambda function lambda x: x * x is defined to take a single argument x and return the square of x.
# It is an anonymous function, meaning it doesn't have a name and is defined in place.

# The map() function applies this lambda function to each element of the numbers list.
# For example, it first applies the lambda function to 1, resulting in 1 * 1 = 1. Then it applies the lambda function to 2, resulting in 2 * 2 = 4, and so on.

# The result of the map() function is an iterator. To see the actual values, we convert this iterator to a list using list(), and
# store it in the variable squared_numbers.

# Finally, we print out both the original list of numbers (numbers) and the list containing the squares of those numbers (squared_numbers).

Original numbers: [1, 2, 3, 4, 5]
Squares of numbers: [1, 4, 9, 16, 25]

In [ ]:
#recursive example function

def sum_of_digits(n):
    if n == 0:
        return 0
    else:
        return n % 10 + sum_of_digits(n // 10)

# Example usage:
number = 12345
print("Sum of digits of", number, "is", sum_of_digits(number))

In [8]:
# Example for zip():

names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
cities = ["New York", "San Francisco", "London"]

# Using zip() to combine multiple lists
zipped_data = zip(names, ages, cities)
# zipped_data = list(zip(names, ages, cities))

# print(list(zipped_data))

# Iterating over the zipped data
for name, age, city in zipped_data:
    print(f"{name} is {age} years old and lives in {city}")


# The zip() function in Python is used to combine multiple iterables (such as lists, tuples, or other sequences) element-wise into tuples.
# It takes any number of iterables as input and returns an iterator of tuples where the i-th tuple contains the i-th element from each of
# the input iterables.

[('Alice', 25, 'New York'), ('Bob', 30, 'San Francisco'), ('Charlie', 35, 'London')]

In [4]:
zipped_data = [('Alice', 25, 'New York'), ('Bob', 30, 'San Francisco'), ('Charlie', 35, 'London')]

# Using zip() with * operator to unzip the data
names, ages, cities = zip(*zipped_data)

print("Names:", names)
print("Ages:", ages)
print("Cities:", cities)

Names: ('Alice', 'Bob', 'Charlie')
Ages: (25, 30, 35)
Cities: ('New York', 'San Francisco', 'London')

Implement the following functions to manage a user's account:

create_account(accounts, account_number, initial_balance): This function should create a new account with the given account number and initial balance. It should update the accounts dictionary with the new account information.

deposit(accounts, account_number, amount): This function should deposit the specified amount into the account with the given account number. If the account does not exist, print an error message.

withdraw(accounts, account_number, amount): This function should withdraw the specified amount from the account with the given account number. If the account does not exist or if the balance is insufficient, print an error message.

check_balance(accounts, account_number): This function should display the current balance of the account with the given account number. If the account does not exist, print an error message.

In [ ]:
# Full code
accounts = {}

def create_account(accounts, account_number, initial_balance):
    if account_number not in accounts:
        accounts[account_number] = initial_balance
        print(f"Account {account_number} created with an initial balance of {initial_balance}.")
    else:
        print(f"Error: Account {account_number} already exists.")

def deposit(accounts, account_number, amount):
    if account_number in accounts:
        accounts[account_number] += amount
        print(f"Deposited {amount} into account {account_number}.")
    else:
        print(f"Error: Account {account_number} does not exist.")

def withdraw(accounts, account_number, amount):
    if account_number in accounts:
        if accounts[account_number] >= amount:
            accounts[account_number] -= amount
            print(f"Withdrew {amount} from account {account_number}.")
        else:
            print(f"Error: Insufficient balance in account {account_number}.")
    else:
        print(f"Error: Account {account_number} does not exist.")

def check_balance(accounts, account_number):
    if account_number in accounts:
        print(f"The balance in account {account_number} is {accounts[account_number]}.")
    else:
        print(f"Error: Account {account_number} does not exist.")

# Example usage
create_account(accounts, "A123", 1000)
deposit(accounts, "A123", 500)
withdraw(accounts, "A123", 200)
check_balance(accounts, "A123")
create_account(accounts, "A163", 1000)
deposit(accounts, "A163", 500)
withdraw(accounts, "A163", 200)
check_balance(accounts, "A163")
accounts

Account A123 created with an initial balance of 1000.
Deposited 500 into account A123.
Withdrew 200 from account A123.
The balance in account A123 is 1300.
Account A163 created with an initial balance of 1000.
Deposited 500 into account A163.
Withdrew 200 from account A163.
The balance in account A163 is 1300.

{'A123': 1300, 'A163': 1300}