The code provided is for setting up PySpark in a Google Colab environment or a similar setup where PySpark is not pre-installed.

**!apt-get install openjdk-8-jdk-headless -qq > /dev/null**
Uses the apt-get package manager to install OpenJDK 8 without the graphical user interface components (headless).
The -qq flag minimizes the output, and > /dev/null suppresses it entirely.

**!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz**
Uses wget to download the specified version of Apache Spark (3.1.1) with Hadoop 3.2 support from the Apache archive.
The -q flag makes the download process quiet (minimal output).

**!tar xf spark-3.1.1-bin-hadoop3.2.tgz**
Uses the tar command to extract the downloaded tarball file (spark-3.1.1-bin-hadoop3.2.tgz).

**!pip install -q findspark**
Installs the findspark library using pip to facilitate the integration of Spark with Python

**import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"**
Sets the JAVA_HOME environment variable to the path where OpenJDK 8 is installed.
Sets the SPARK_HOME environment variable to the path where Spark was extracted.

**import findspark
findspark.init()**
Initializes findspark to make PySpark available in the Python environment.

**from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark
Imports SparkSession from pyspark.sql.**

Builds and initializes a Spark session with the master URL set to local[*], which means Spark will run locally with as many worker threads as logical cores on the machine.
The getOrCreate() method either retrieves an existing Spark session or creates a new one if none exist.

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

In [ ]:
mydata = spark.read.format("csv").option("header", "true").load("/content/original.csv")
mydata.show()

# spark.read.format("csv"): Specifies that the input file is in CSV format.
# option("header", "true"): Indicates that the CSV file contains a header row.
# load("/content/original.csv"): Loads the CSV file from the specified path into a DataFrame.

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416| 118.930111|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import *

mydata2 = mydata.withColumn("clean_city",when(mydata.City.isNull(),"Unknown").otherwise(mydata.City))
mydata2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|     clean_city|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|      Nowa Ruda|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|         Bulgan|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52|39.9947462|116.3397725|        Unknown|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|  Divnomorskoye|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|      Mytishchi|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|Kinsealy-Drinan|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416| 118.930111|         Dachun|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|      Trélissac|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|         Heitan|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|       Arbeláez|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|       El Cardo|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|    Wangqingtuo|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|      Sułkowice|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|    Springfield|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|         Chrást|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|         Xijiao|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|      Mieścisko|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337| Foros do Trapo|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|    Jabungsisir|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|          Pedra|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+
only showing top 20 rows

In [ ]:
# mydata2 = mydata.withColumn("clean_JobTitle",when(mydata.JobTitle.isNull(),"Unknown").otherwise(mydata.JobTitle))
# mydata2.show()

In [ ]:
mydata2 = mydata2.filter(mydata2.JobTitle.isNotNull()) #FILTER DATA WHERE JOBTITLE IS NOT NULL
mydata2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|     clean_city|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|      Nowa Ruda|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|         Bulgan|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|  Divnomorskoye|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|      Mytishchi|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|Kinsealy-Drinan|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|      Trélissac|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|         Heitan|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|       Arbeláez|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|       El Cardo|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|    Wangqingtuo|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|      Sułkowice|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|    Springfield|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|         Chrást|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|         Xijiao|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|      Mieścisko|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337| Foros do Trapo|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|    Jabungsisir|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|          Pedra|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|          Xin’e|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|         Xijiao|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+
only showing top 20 rows

In [ ]:
# CLEAN THE SALARY COLUMN TO REMOVE THE $ SYMBOL

mydata2 = mydata2.withColumn("clean_salary",regexp_replace(mydata2.Salary, '[$,]', ''))
mydata2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|     clean_city|clean_salary|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|      Nowa Ruda|    57438.18|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|         Bulgan|    62846.60|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|  Divnomorskoye|    61489.23|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|      Mytishchi|    63863.09|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|Kinsealy-Drinan|    30101.16|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|      Trélissac|    46116.36|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|         Heitan|    73697.10|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|       Arbeláez|    68098.42|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|       El Cardo|    13604.63|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|    Wangqingtuo|    73423.70|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|      Sułkowice|    33432.99|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|    Springfield|    50838.53|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|         Chrást|    40163.03|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|         Xijiao|    32492.73|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|      Mieścisko|    51862.48|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337| Foros do Trapo|    42135.67|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|    Jabungsisir|    91925.08|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|          Pedra|    73921.33|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|          Xin’e|    62755.85|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|         Xijiao|    13708.03|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+
only showing top 20 rows

In [ ]:
mydata2 = mydata2.withColumn("clean_salary_2",mydata2.Salary.substr(2,100).cast("float"))
mydata2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|     clean_city|clean_salary|clean_salary_2|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|      Nowa Ruda|    57438.18|      57438.18|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|         Bulgan|    62846.60|       62846.6|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|  Divnomorskoye|    61489.23|      61489.23|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|      Mytishchi|    63863.09|      63863.09|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|Kinsealy-Drinan|    30101.16|      30101.16|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|      Trélissac|    46116.36|      46116.36|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|         Heitan|    73697.10|       73697.1|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|       Arbeláez|    68098.42|      68098.42|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|       El Cardo|    13604.63|      13604.63|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|    Wangqingtuo|    73423.70|       73423.7|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|      Sułkowice|    33432.99|      33432.99|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|    Springfield|    50838.53|      50838.53|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|         Chrást|    40163.03|      40163.03|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|         Xijiao|    32492.73|      32492.73|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|      Mieścisko|    51862.48|      51862.48|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337| Foros do Trapo|    42135.67|      42135.67|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|    Jabungsisir|    91925.08|      91925.08|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|          Pedra|    73921.33|      73921.33|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|          Xin’e|    62755.85|      62755.85|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|         Xijiao|    13708.03|      13708.03|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+
only showing top 20 rows

In [ ]:
mean =mydata2.groupBy().avg("clean_salary_2")
mean.show()

+-------------------+
|avg(clean_salary_2)|
+-------------------+
|  55516.32088199837|
+-------------------+

In [ ]:
meanval = mydata2.groupBy().avg("clean_salary_2").take(1)[0][0] #take the first row ,1st column value
meanval
# It appears that the variable mean is being overwritten in the last cell of code.
# It's initially a DataFrame, but then it's reassigned to a float value representing the average salary.
# The show() method is applicable to DataFrames, but not to float values

55516.32088199837

In [ ]:
mean_df = mydata2.groupBy().avg("clean_salary_2").take(1)[0]
mean = mean_df[0] # Extract the float value

print(mean) # Print the mean value

55516.32088199837

In [ ]:
from pyspark.sql.functions import lit #Creates a ~pyspark.sql.Column of literal value.

mydata2 = mydata2.withColumn("new_salary",when(mydata2.clean_salary.isNull(),lit(mean)).otherwise(mydata2.clean_salary))
#create a new column with salary, if salary is null, replace i with mean value calculated else the same column value

mydata2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|     clean_city|clean_salary|clean_salary_2|new_salary|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|      Nowa Ruda|    57438.18|      57438.18|  57438.18|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|         Bulgan|    62846.60|       62846.6|  62846.60|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|  Divnomorskoye|    61489.23|      61489.23|  61489.23|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|      Mytishchi|    63863.09|      63863.09|  63863.09|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|Kinsealy-Drinan|    30101.16|      30101.16|  30101.16|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|      Trélissac|    46116.36|      46116.36|  46116.36|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|         Heitan|    73697.10|       73697.1|  73697.10|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|       Arbeláez|    68098.42|      68098.42|  68098.42|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|       El Cardo|    13604.63|      13604.63|  13604.63|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|    Wangqingtuo|    73423.70|       73423.7|  73423.70|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|      Sułkowice|    33432.99|      33432.99|  33432.99|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|    Springfield|    50838.53|      50838.53|  50838.53|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|         Chrást|    40163.03|      40163.03|  40163.03|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|         Xijiao|    32492.73|      32492.73|  32492.73|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|      Mieścisko|    51862.48|      51862.48|  51862.48|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337| Foros do Trapo|    42135.67|      42135.67|  42135.67|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|    Jabungsisir|    91925.08|      91925.08|  91925.08|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|          Pedra|    73921.33|      73921.33|  73921.33|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|          Xin’e|    62755.85|      62755.85|  62755.85|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|         Xijiao|    13708.03|      13708.03|  13708.03|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+
only showing top 20 rows

In [ ]:
import numpy as np
latitudes = mydata2.select("Latitude")
longitudes = mydata2.select("Longitude")
latitudes.show()
longitudes.show()

+----------+
|  Latitude|
+----------+
|50.5774075|
|48.8231572|
|44.5047212|
|      null|
|53.4266145|
|45.1905186|
| 32.027934|
|  4.272793|
|     -5.85|
| 39.172378|
|49.8151822|
|42.1014803|
|49.7923299|
|43.4945737|
|52.7441662|
| 38.696249|
|-7.7232567|
|40.7172049|
|  49.16291|
|40.7576842|
+----------+
only showing top 20 rows

+-----------+
|  Longitude|
+-----------+
| 16.4967184|
|103.5218199|
| 38.1300171|
| 37.6489954|
| -6.1644997|
|  0.7423124|
| 106.657113|
| -74.416014|
|-79.8833329|
| 116.931607|
| 19.3771749|
|-72.5766759|
| 13.4915324|
|  5.8978018|
| 17.3278637|
| -8.7098337|
|113.4686802|
| -8.3625148|
|  127.98658|
| 23.1342184|
+-----------+
only showing top 20 rows

In [ ]:
latitudes = latitudes.filter(latitudes.Latitude.isNotNull())
longitudes = longitudes.filter(longitudes.Longitude.isNotNull())
latitudes.show()
longitudes.show()

+----------+
|  Latitude|
+----------+
|50.5774075|
|48.8231572|
|44.5047212|
|53.4266145|
|45.1905186|
| 32.027934|
|  4.272793|
|     -5.85|
| 39.172378|
|49.8151822|
|42.1014803|
|49.7923299|
|43.4945737|
|52.7441662|
| 38.696249|
|-7.7232567|
|40.7172049|
|  49.16291|
|40.7576842|
|48.4902808|
+----------+
only showing top 20 rows

+-----------+
|  Longitude|
+-----------+
| 16.4967184|
|103.5218199|
| 38.1300171|
| 37.6489954|
| -6.1644997|
|  0.7423124|
| 106.657113|
| -74.416014|
|-79.8833329|
| 116.931607|
| 19.3771749|
|-72.5766759|
| 13.4915324|
|  5.8978018|
| 17.3278637|
| -8.7098337|
|113.4686802|
| -8.3625148|
|  127.98658|
| 23.1342184|
+-----------+
only showing top 20 rows

In [ ]:
latitudes = latitudes.withColumn("latitude1",latitudes.Latitude.cast("float")).select("latitude1")
longitudes = longitudes.withColumn("longitude1",longitudes.Longitude.cast("float")).select("longitude1")
latitudes.show()

+----------+
| latitude1|
+----------+
| 50.577408|
|  48.82316|
| 44.504723|
| 53.426613|
| 45.190517|
| 32.027935|
|  4.272793|
|     -5.85|
|  39.17238|
|  49.81518|
|  42.10148|
|  49.79233|
| 43.494576|
| 52.744167|
| 38.696247|
|-7.7232566|
| 40.717205|
|  49.16291|
| 40.757683|
|  48.49028|
+----------+
only showing top 20 rows

In [ ]:
median = np.median(latitudes.collect())
#  the collect() method is used to retrieve the entire dataset (or the elements of an RDD or DataFrame) from the Spark cluster to the local machine as a list.
print(median)

31.93397331237793

In [ ]:
mydata2 = mydata2.withColumn("new_latitude",when(mydata2.Latitude.isNull(),lit(median)).otherwise(mydata2.Latitude))
mydata2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|     clean_city|clean_salary|clean_salary_2|new_salary|     new_latitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|      Nowa Ruda|    57438.18|      57438.18|  57438.18|       50.5774075|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|         Bulgan|    62846.60|       62846.6|  62846.60|       48.8231572|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|  Divnomorskoye|    61489.23|      61489.23|  61489.23|       44.5047212|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|      Mytishchi|    63863.09|      63863.09|  63863.09|31.93397331237793|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|Kinsealy-Drinan|    30101.16|      30101.16|  30101.16|       53.4266145|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|      Trélissac|    46116.36|      46116.36|  46116.36|       45.1905186|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|         Heitan|    73697.10|       73697.1|  73697.10|        32.027934|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|       Arbeláez|    68098.42|      68098.42|  68098.42|         4.272793|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|       El Cardo|    13604.63|      13604.63|  13604.63|            -5.85|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|    Wangqingtuo|    73423.70|       73423.7|  73423.70|        39.172378|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|      Sułkowice|    33432.99|      33432.99|  33432.99|       49.8151822|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|    Springfield|    50838.53|      50838.53|  50838.53|       42.1014803|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|         Chrást|    40163.03|      40163.03|  40163.03|       49.7923299|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|         Xijiao|    32492.73|      32492.73|  32492.73|       43.4945737|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|      Mieścisko|    51862.48|      51862.48|  51862.48|       52.7441662|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337| Foros do Trapo|    42135.67|      42135.67|  42135.67|        38.696249|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|    Jabungsisir|    91925.08|      91925.08|  91925.08|       -7.7232567|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|          Pedra|    73921.33|      73921.33|  73921.33|       40.7172049|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|          Xin’e|    62755.85|      62755.85|  62755.85|         49.16291|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|         Xijiao|    13708.03|      13708.03|  13708.03|       40.7576842|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+
only showing top 20 rows

# READ DATA USING SPARK AND CLEANING IT IN DIFFERENT & EASY WAY

In [ ]:
df2 = spark.read.csv("/content/original.csv", header=True)
df2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416| 118.930111|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
only showing top 20 rows

In [ ]:
df2.dtypes

In [ ]:
from pyspark.sql.types import *
myschema = StructType([
    StructField("id", IntegerType(), True),
    StructField("first_name", StringType(), True),
    StructField("last_name", StringType(), True),
    StructField("City", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("JobTitle", StringType(), True),
    StructField("Salary", StringType(), True),
    StructField("Latitude", StringType(), True),
    StructField("Longitude", FloatType(), True)

])

In [ ]:
df3 = spark.read.csv("/content/original.csv", header=True, schema=myschema)
df3.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
| id|first_name| last_name|  City|         gender|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.496717|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572| 103.52182|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52|39.9947462|116.339775|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.130016|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.648994|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145|-6.1644998|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416|118.930115|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186| 0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.65711|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.93161|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.377174|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.576675|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.491532|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.897802|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.327864|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.709834|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567| 113.46868|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049|-8.3625145|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [ ]:
df3.dtypes

[('id', 'int'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('City', 'string'),
 ('gender', 'string'),
 ('JobTitle', 'string'),
 ('Salary', 'string'),
 ('Latitude', 'string'),
 ('Longitude', 'float')]

## OVERALL MEN OR WOMEN GET PAID MORE ON AVG
## BY JOB TITLE MEN OR WOMEN GET PAID MORE ON AVG
## WHICH CITY HAS THE HIGHEST AVERAGE SALARY

In [ ]:
import pyspark.sql.functions as sqlfunc
genders = mydata2.groupBy("gender").agg(sqlfunc.avg("new_salary")).alias("AvgSalary")
genders.show()

+------+-----------------+
|gender|  avg(new_salary)|
+------+-----------------+
|Female|55677.25018367348|
|  Male|55361.09383858273|
+------+-----------------+

In [ ]:
jobtitleAvgSal = mydata2.groupBy("JobTitle").agg(sqlfunc.avg("new_salary")).alias("AvgSalary")
genders.show()

+------+-----------------+
|gender|  avg(new_salary)|
+------+-----------------+
|Female|55677.25018367348|
|  Male|55361.09383858273|
+------+-----------------+

In [ ]:
df4= mydata2.withColumn("Fem_salary",when(mydata2.gender=="Female",mydata2.new_salary).otherwise(lit(0)))
df4.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|     clean_city|clean_salary|clean_salary_2|new_salary|     new_latitude|Fem_salary|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|      Nowa Ruda|    57438.18|      57438.18|  57438.18|       50.5774075|  57438.18|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|         Bulgan|    62846.60|       62846.6|  62846.60|       48.8231572|  62846.60|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|  Divnomorskoye|    61489.23|      61489.23|  61489.23|       44.5047212|         0|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|      Mytishchi|    63863.09|      63863.09|  63863.09|31.93397331237793|         0|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|Kinsealy-Drinan|    30101.16|      30101.16|  30101.16|       53.4266145|  30101.16|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|      Trélissac|    46116.36|      46116.36|  46116.36|       45.1905186|         0|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|         Heitan|    73697.10|       73697.1|  73697.10|        32.027934|         0|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|       Arbeláez|    68098.42|      68098.42|  68098.42|         4.272793|         0|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|       El Cardo|    13604.63|      13604.63|  13604.63|            -5.85|  13604.63|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|    Wangqingtuo|    73423.70|       73423.7|  73423.70|        39.172378|  73423.70|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|      Sułkowice|    33432.99|      33432.99|  33432.99|       49.8151822|         0|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|    Springfield|    50838.53|      50838.53|  50838.53|       42.1014803|         0|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|         Chrást|    40163.03|      40163.03|  40163.03|       49.7923299|         0|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|         Xijiao|    32492.73|      32492.73|  32492.73|       43.4945737|         0|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|      Mieścisko|    51862.48|      51862.48|  51862.48|       52.7441662|  51862.48|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337| Foros do Trapo|    42135.67|      42135.67|  42135.67|        38.696249|         0|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|    Jabungsisir|    91925.08|      91925.08|  91925.08|       -7.7232567|  91925.08|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|          Pedra|    73921.33|      73921.33|  73921.33|       40.7172049|         0|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|          Xin’e|    62755.85|      62755.85|  62755.85|         49.16291|         0|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|         Xijiao|    13708.03|      13708.03|  13708.03|       40.7576842|         0|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+
only showing top 20 rows

In [ ]:
df4= df4.withColumn("male_salary",when(df4.gender=="Male",df4.new_salary).otherwise(lit(0)))
df4.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+-----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|     clean_city|clean_salary|clean_salary_2|new_salary|     new_latitude|Fem_salary|male_salary|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+-----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|      Nowa Ruda|    57438.18|      57438.18|  57438.18|       50.5774075|  57438.18|          0|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|         Bulgan|    62846.60|       62846.6|  62846.60|       48.8231572|  62846.60|          0|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|  Divnomorskoye|    61489.23|      61489.23|  61489.23|       44.5047212|         0|   61489.23|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|      Mytishchi|    63863.09|      63863.09|  63863.09|31.93397331237793|         0|   63863.09|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|Kinsealy-Drinan|    30101.16|      30101.16|  30101.16|       53.4266145|  30101.16|          0|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|      Trélissac|    46116.36|      46116.36|  46116.36|       45.1905186|         0|   46116.36|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|         Heitan|    73697.10|       73697.1|  73697.10|        32.027934|         0|   73697.10|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|       Arbeláez|    68098.42|      68098.42|  68098.42|         4.272793|         0|   68098.42|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|       El Cardo|    13604.63|      13604.63|  13604.63|            -5.85|  13604.63|          0|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|    Wangqingtuo|    73423.70|       73423.7|  73423.70|        39.172378|  73423.70|          0|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|      Sułkowice|    33432.99|      33432.99|  33432.99|       49.8151822|         0|   33432.99|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|    Springfield|    50838.53|      50838.53|  50838.53|       42.1014803|         0|   50838.53|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|         Chrást|    40163.03|      40163.03|  40163.03|       49.7923299|         0|   40163.03|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|         Xijiao|    32492.73|      32492.73|  32492.73|       43.4945737|         0|   32492.73|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|      Mieścisko|    51862.48|      51862.48|  51862.48|       52.7441662|  51862.48|          0|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337| Foros do Trapo|    42135.67|      42135.67|  42135.67|        38.696249|         0|   42135.67|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|    Jabungsisir|    91925.08|      91925.08|  91925.08|       -7.7232567|  91925.08|          0|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|          Pedra|    73921.33|      73921.33|  73921.33|       40.7172049|         0|   73921.33|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|          Xin’e|    62755.85|      62755.85|  62755.85|         49.16291|         0|   62755.85|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|         Xijiao|    13708.03|      13708.03|  13708.03|       40.7576842|         0|   13708.03|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+-----------+
only showing top 20 rows

In [ ]:
df5 = df4.groupBy("JobTitle").agg(sqlfunc.avg("Fem_salary").alias("FemaleAvgSalary") , sqlfunc.avg("Male_salary").alias("MaleAvgSalary"))
df5.show()

+--------------------+------------------+------------------+
|            JobTitle|   FemaleAvgSalary|     MaleAvgSalary|
+--------------------+------------------+------------------+
|Systems Administr...|         50590.475|          15540.95|
|   Media Manager III|29586.436666666665|17381.920000000002|
|  Recruiting Manager| 34848.45166666667|         26383.495|
|       Geologist III|31749.046666666665|12830.753333333332|
|        Geologist II|               0.0|         43293.865|
|Database Administ...|               0.0|          52018.46|
|   Financial Analyst|         23353.777|         39606.057|
|  Analyst Programmer|         16406.129|21042.962999999996|
|Software Engineer II|               0.0|          74782.64|
|       Accountant IV|          82732.25|               0.0|
|    Product Engineer|41825.484000000004|         20464.944|
|Software Test Eng...|32218.608333333337|27122.463333333333|
|Safety Technician...|               0.0|          29421.53|
|    Junior Executive|15752.220000000001|49510.331666666665|
|Systems Administr...|          77059.22|               0.0|
|Human Resources A...|        24022.6625|        16609.2775|
|        VP Marketing| 7981.178333333333|         52844.535|
|  Environmental Tech|13706.980000000001| 45660.89000000001|
|Mechanical System...|31370.781666666666|        44321.5925|
| Assistant Professor|         22175.954|          26912.77|
+--------------------+------------------+------------------+
only showing top 20 rows

In [ ]:
df5 = df4.withColumn("diff Salary",df4.Fem_salary-df4.male_salary)
df5.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+-----------+-----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|     clean_city|clean_salary|clean_salary_2|new_salary|     new_latitude|Fem_salary|male_salary|diff Salary|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+-----------+-----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|      Nowa Ruda|    57438.18|      57438.18|  57438.18|       50.5774075|  57438.18|          0|   57438.18|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|         Bulgan|    62846.60|       62846.6|  62846.60|       48.8231572|  62846.60|          0|    62846.6|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|  Divnomorskoye|    61489.23|      61489.23|  61489.23|       44.5047212|         0|   61489.23|  -61489.23|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|      Mytishchi|    63863.09|      63863.09|  63863.09|31.93397331237793|         0|   63863.09|  -63863.09|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|Kinsealy-Drinan|    30101.16|      30101.16|  30101.16|       53.4266145|  30101.16|          0|   30101.16|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|      Trélissac|    46116.36|      46116.36|  46116.36|       45.1905186|         0|   46116.36|  -46116.36|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|         Heitan|    73697.10|       73697.1|  73697.10|        32.027934|         0|   73697.10|   -73697.1|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|       Arbeláez|    68098.42|      68098.42|  68098.42|         4.272793|         0|   68098.42|  -68098.42|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|       El Cardo|    13604.63|      13604.63|  13604.63|            -5.85|  13604.63|          0|   13604.63|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|    Wangqingtuo|    73423.70|       73423.7|  73423.70|        39.172378|  73423.70|          0|    73423.7|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|      Sułkowice|    33432.99|      33432.99|  33432.99|       49.8151822|         0|   33432.99|  -33432.99|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|    Springfield|    50838.53|      50838.53|  50838.53|       42.1014803|         0|   50838.53|  -50838.53|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|         Chrást|    40163.03|      40163.03|  40163.03|       49.7923299|         0|   40163.03|  -40163.03|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|         Xijiao|    32492.73|      32492.73|  32492.73|       43.4945737|         0|   32492.73|  -32492.73|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|      Mieścisko|    51862.48|      51862.48|  51862.48|       52.7441662|  51862.48|          0|   51862.48|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337| Foros do Trapo|    42135.67|      42135.67|  42135.67|        38.696249|         0|   42135.67|  -42135.67|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|    Jabungsisir|    91925.08|      91925.08|  91925.08|       -7.7232567|  91925.08|          0|   91925.08|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|          Pedra|    73921.33|      73921.33|  73921.33|       40.7172049|         0|   73921.33|  -73921.33|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|          Xin’e|    62755.85|      62755.85|  62755.85|         49.16291|         0|   62755.85|  -62755.85|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|         Xijiao|    13708.03|      13708.03|  13708.03|       40.7576842|         0|   13708.03|  -13708.03|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+-----------+-----------+
only showing top 20 rows

In [ ]:
CityHighSal = df5.groupBy("City").agg(sqlfunc.avg("new_salary").alias("AvgCitySalary")).sort("AvgCitySalary",ascending=False)
CityHighSal.show()

+-----------------+-------------+
|             City|AvgCitySalary|
+-----------------+-------------+
|        Mesopotam|     99948.28|
|       Zhongcheng|     99942.92|
|           Caxias|      99786.4|
|      Karangtawar|     99638.99|
|        Itabaiana|     99502.16|
|           Pasian|     99421.34|
|           Webuye|     99368.55|
|      Yuktae-dong|     99250.83|
|           Zinder|     99222.84|
|   Timiryazevskiy|     99142.94|
|        Sawahbaru|     99013.71|
|          Madimba|     98737.87|
|         Huangshi|     98690.34|
|          Gharyan|     98679.31|
|         Yŏnan-ŭp|     98628.61|
|     Wringinputih|     98603.82|
|Monte da Boavista|     98586.72|
|          Klukeng|     98439.49|
|         Murmashi|     98226.16|
|        Fox Creek|      98138.0|
+-----------------+-------------+
only showing top 20 rows

In [ ]:
# OR
CityHighSal = df5.groupBy("City").agg(sqlfunc.avg("new_salary").alias("AvgCitySalary"))
CityHighSal.sort(col("AvgCitySalary").desc())
CityHighSal.show()

+-----------------+-------------+
|             City|AvgCitySalary|
+-----------------+-------------+
|        Sułkowice|     33432.99|
|          Klippan|     77039.47|
|      Trollhättan|    53311.685|
|        Shinaihai|     39544.64|
|         Hongzhou|     35707.31|
|         Cipinang|     11617.51|
| Viejo Daan Banua|      43927.5|
|         Tsiatsan|     18795.44|
|       San Andres|      52426.8|
|           Krasna|     72022.79|
|      Springfield|    40697.325|
|            Město|     27797.98|
|Chaloem Phra Kiat|      54840.2|
|          Tadotsu|      55595.3|
|   Hénin-Beaumont|     55082.75|
|          Kajaani|     20224.84|
|           Duozhu|     71416.86|
|           Abéché|     93375.18|
|     Habingkloang|     56892.97|
|         Malishka|     76783.48|
+-----------------+-------------+
only showing top 20 rows

In [ ]:
df2.head()

Row(id='1', first_name='Melinde', last_name='Shilburne', gender='Female', City='Nowa Ruda', JobTitle='Assistant Professor', Salary='$57438.18', Latitude='50.5774075', Longitude='16.4967184')

In [ ]:
df2.head(10)

[Row(id='1', first_name='Melinde', last_name='Shilburne', gender='Female', City='Nowa Ruda', JobTitle='Assistant Professor', Salary='$57438.18', Latitude='50.5774075', Longitude='16.4967184'),
 Row(id='2', first_name='Kimberly', last_name='Von Welden', gender='Female', City='Bulgan', JobTitle='Programmer II', Salary='$62846.60', Latitude='48.8231572', Longitude='103.5218199'),
 Row(id='3', first_name='Alvera', last_name='Di Boldi', gender='Female', City=None, JobTitle=None, Salary='$57576.52', Latitude='39.9947462', Longitude='116.3397725'),
 Row(id='4', first_name='Shannon', last_name="O'Griffin", gender='Male', City='Divnomorskoye', JobTitle='Budget/Accounting Analyst II', Salary='$61489.23', Latitude='44.5047212', Longitude='38.1300171'),
 Row(id='5', first_name='Sherwood', last_name='Macieja', gender='Male', City='Mytishchi', JobTitle='VP Sales', Salary='$63863.09', Latitude=None, Longitude='37.6489954'),
 Row(id='6', first_name='Maris', last_name='Folk', gender='Female', City='Kinsealy-Drinan', JobTitle='Civil Engineer', Salary='$30101.16', Latitude='53.4266145', Longitude='-6.1644997'),
 Row(id='7', first_name='Masha', last_name='Divers', gender='Female', City='Dachun', JobTitle=None, Salary='$25090.87', Latitude='24.879416', Longitude='118.930111'),
 Row(id='8', first_name='Goddart', last_name='Flear', gender='Male', City='Trélissac', JobTitle='Desktop Support Technician', Salary='$46116.36', Latitude='45.1905186', Longitude='0.7423124'),
 Row(id='9', first_name='Roth', last_name="O'Cannavan", gender='Male', City='Heitan', JobTitle='VP Product Management', Salary='$73697.10', Latitude='32.027934', Longitude='106.657113'),
 Row(id='10', first_name='Bran', last_name='Trahear', gender='Male', City='Arbeláez', JobTitle='Mechanical Systems Engineer', Salary='$68098.42', Latitude='4.272793', Longitude='-74.416014')]

In [ ]:
df2.describe()

DataFrame[summary: string, id: string, first_name: string, last_name: string, gender: string, City: string, JobTitle: string, Salary: string, Latitude: string, Longitude: string]

In [ ]:
df2.summary()

DataFrame[summary: string, id: string, first_name: string, last_name: string, gender: string, City: string, JobTitle: string, Salary: string, Latitude: string, Longitude: string]

In [ ]:
df2.first()

Row(id='1', first_name='Melinde', last_name='Shilburne', gender='Female', City='Nowa Ruda', JobTitle='Assistant Professor', Salary='$57438.18', Latitude='50.5774075', Longitude='16.4967184')

In [ ]:
df2.describe().show()

+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+-----------------+------------------+
|summary|               id|first_name|last_name|gender|               City|           JobTitle|   Salary|         Latitude|         Longitude|
+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+-----------------+------------------+
|  count|             1000|      1000|     1000|  1000|                999|                998|     1000|              999|              1000|
|   mean|            500.5|      null|     null|  null|               null|               null|     null|25.43151724234234|43.337564614499996|
| stddev|288.8194360957494|      null|     null|  null|               null|               null|     null| 24.5790825486909| 69.42064539970089|
|    min|                1|   Abagail|    Abbay|Female|             Abéché|Account Coordinator|$10101.92|       -0.6256517|        -0.4889547|
|    max|              999|    Zulema| de Marco|  Male|‘Aşīrah al Qiblīyah|   Web Developer IV|$99948.28|        9.9533828|        99.9590822|
+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+-----------------+------------------+

In [ ]:
df2.columns

['id',
 'first_name',
 'last_name',
 'gender',
 'City',
 'JobTitle',
 'Salary',
 'Latitude',
 'Longitude']

In [ ]:
df2.count() #number of rows

1000

In [ ]:
df2.distinct().count() #number of unique rows

1000

In [ ]:
df_dropped = df2.na.drop() #drop rows with missing values
df_dropped.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|
| 23|   Lurleen|   Janczak|Female|      Rozkishne|    Web Developer IV|$29384.72|48.4902808| 39.2712224|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
only showing top 20 rows

In [ ]:
df_dropped.count()

997

In [ ]:
df_off_duplicates = df_dropped.dropDuplicates() #drop duplicates
df_off_duplicates.show()

+---+----------+----------+------+----------------+--------------------+---------+----------+------------+
| id|first_name| last_name|gender|            City|            JobTitle|   Salary|  Latitude|   Longitude|
+---+----------+----------+------+----------------+--------------------+---------+----------+------------+
|167|    Buiron| Franzotto|  Male|         Prusice|    Health Coach III|$55731.78|51.3704296|  16.9606267|
|610|    Waylen| O' Clovan|  Male|           Khyzy|   Marketing Manager|$73169.48|40.9109489|  49.0729264|
|239|  Vivyanne|  Astridge|Female|         Baoshui|        Food Chemist|$11084.34| 30.513598|  110.361715|
|256|    Stearn|    Niesel|  Male|         Lungmar| Software Consultant|$31406.56|  28.85816|    89.94036|
|575|    Richie|  Hellicar|  Male|         Xichuan|        Developer IV|$40279.59|  33.13782|  111.490964|
|578|    Mignon|    Debnam|Female|   Guajará Mirim|       Social Worker|$81607.74|-10.789321| -65.3301049|
|784|  Marjorie|  Dekeyser|Female|        San Juan|Desktop Support T...|$12584.83| 14.565668| 121.0317737|
|838|       Amy|   Walkley|Female|         Burnaby|Assistant Media P...|$27762.05|49.2574664|-123.0419607|
|847| Meredithe|   Panting|Female|         Atlanta|           Librarian|$41745.23|33.9253024| -84.3857442|
|892|  Adrianne| Penburton|Female|         Chuanbu|    Technical Writer|$29159.60| 33.011529|  114.022298|
|344|    Janith|  Arnaudon|Female|          Webuye|    Technical Writer|$99368.55| 0.5992059|   34.779603|
|351|    Sascha|    Matson|  Male|          Mehona|      Tax Accountant|$92313.86|-10.592804| 121.8292161|
|362|    Lianne|  Sommerly|Female|         Tabālah|Software Test Eng...|$60641.75|19.9969372|  42.2263783|
|595|    Holden|   Largent|  Male|         Wangshi|Payment Adjustmen...|$17529.32|39.9810986| 116.4217216|
|627| Cherianne|     Zoppo|Female|Vaudreuil-Dorion|Nuclear Power Eng...|$73521.65|45.3665513| -73.9713406|
|952|    Rustin|Wozencraft|  Male|     Santo Tomas|Human Resources A...|$88195.81| 7.5273576| 125.6239227|
|474|  Tiffanie|      Fydo|Female|         Freiria|Nuclear Power Eng...|$57323.43|39.3442902|  -8.9534587|
|526|  Garfield| Benadette|  Male|          Shiren|   Marketing Manager|$56867.78|28.6517036| 117.9041296|
|540|    Eugene|     Cayle|  Male|         Kamālia|Budget/Accounting...|$46879.33|30.7361622|  72.6661867|
|561|   Eveleen|  Johansen|Female|         Xinzhou|            Operator|$81861.88| 38.416663|  112.734174|
+---+----------+----------+------+----------------+--------------------+---------+----------+------------+
only showing top 20 rows

In [ ]:
df_off_duplicates.count()

997

In [ ]:
df_renamed = df2.withColumnRenamed("first_name","fn")
df_renamed.show()

+---+--------+----------+------+---------------+--------------------+---------+----------+-----------+
| id|      fn| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+--------+----------+------+---------------+--------------------+---------+----------+-----------+
|  1| Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|
|  2|Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  3|  Alvera|  Di Boldi|Female|           null|                null|$57576.52|39.9947462|116.3397725|
|  4| Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|  5|Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|
|  6|   Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|
|  7|   Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416| 118.930111|
|  8| Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|
|  9|    Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|
| 10|    Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|
| 11|  Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|
| 12|     Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|
| 13|    Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|
| 14|  Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|
| 15|  Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|
| 16|  Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|
| 17|  Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|
| 18|   Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|
| 19|Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|
| 20|  Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|
+---+--------+----------+------+---------------+--------------------+---------+----------+-----------+
only showing top 20 rows

In [ ]:
df_filter = df2.filter(df2.first_name=="Alvera")
df_filter.show()

+---+----------+---------+------+----+--------+---------+----------+-----------+
| id|first_name|last_name|gender|City|JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+---------+------+----+--------+---------+----------+-----------+
|  3|    Alvera| Di Boldi|Female|null|    null|$57576.52|39.9947462|116.3397725|
+---+----------+---------+------+----+--------+---------+----------+-----------+

In [ ]:
df_filter = df2.filter(df2.first_name.like("%vera"))
df_filter.show()

+---+----------+---------+------+----+--------+---------+----------+-----------+
| id|first_name|last_name|gender|City|JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+---------+------+----+--------+---------+----------+-----------+
|  3|    Alvera| Di Boldi|Female|null|    null|$57576.52|39.9947462|116.3397725|
+---+----------+---------+------+----+--------+---------+----------+-----------+

In [ ]:
df_filter = df2.filter(df2.first_name.endswith("non"))
df_filter.show()

+---+----------+---------+------+-------------+--------------------+---------+----------+-----------+
| id|first_name|last_name|gender|         City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+---------+------+-------------+--------------------+---------+----------+-----------+
|  4|   Shannon|O'Griffin|  Male|Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|578|    Mignon|   Debnam|Female|Guajará Mirim|       Social Worker|$81607.74|-10.789321|-65.3301049|
|641|    Gannon|Heinreich|  Male|    Gualmatán|Analog Circuit De...|$88032.41|  0.919645| -77.567138|
+---+----------+---------+------+-------------+--------------------+---------+----------+-----------+

In [ ]:
df_filter = df2.filter(df2.first_name.startswith("Sho"))
df_filter.show()

+---+----------+----------+------+--------------+-------------------+---------+-----------+-----------+
| id|first_name| last_name|gender|          City|           JobTitle|   Salary|   Latitude|  Longitude|
+---+----------+----------+------+--------------+-------------------+---------+-----------+-----------+
|887| Shoshanna|Bransgrove|Female|Rio das Ostras|Software Consultant|$47099.85|-22.4206096|-41.8625084|
+---+----------+----------+------+--------------+-------------------+---------+-----------+-----------+

In [ ]:
df_filter = df2.filter(df2.id.between(20,30))
df_filter.show()

+---+----------+---------+------+-----------+--------------------+---------+----------+-----------+
| id|first_name|last_name|gender|       City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+---------+------+-----------+--------------------+---------+----------+-----------+
| 20|    Ettore| Gerriets|  Male|      Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|
| 21|      Alon| Chasteau|  Male|      Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|
| 22|   Guthrey|   Johnke|  Male|     Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|
| 23|   Lurleen|  Janczak|Female|  Rozkishne|    Web Developer IV|$29384.72|48.4902808| 39.2712224|
| 24|    Nichol|   Holtum|Female|      Město|           Paralegal|$27797.98|49.9718258| 12.8846277|
| 25|     Shaun|   Bridle|Female|      Xitou| Office Assistant IV|$71279.60| 29.866917| 118.403786|
| 26|   Leandra|   Anfrey|Female|    Isfahan|VP Product Manage...|$30201.32|32.6546275| 51.6679826|
| 27|    Jarvis|   Perone|  Male|  Hägersten| Associate Professor|$55313.18|59.2832062| 17.9570059|
| 28|  Jaquelyn|   Hazard|Female|      Dhaka|      Tax Accountant|$68368.55| 23.810332| 90.4125181|
| 29|  Prudence| Honacker|Female|Suphan Buri|       VP Accounting|$64920.07|14.5466721|100.0795741|
| 30|    Cherey|    Liger|Female|      Itami|     Design Engineer|$94566.69|34.7791206|135.4203895|
+---+----------+---------+------+-----------+--------------------+---------+----------+-----------+

In [ ]:
df_filter = df2.filter(df2.first_name.isin("Cherey","Nichol","Anitha"))
df_filter.show()

+---+----------+---------+------+--------+--------------------+---------+----------+-----------+
| id|first_name|last_name|gender|    City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+---------+------+--------+--------------------+---------+----------+-----------+
| 24|    Nichol|   Holtum|Female|   Město|           Paralegal|$27797.98|49.9718258| 12.8846277|
| 30|    Cherey|    Liger|Female|   Itami|     Design Engineer|$94566.69|34.7791206|135.4203895|
|967|    Cherey|  Spittal|Female|Kenscoff|Automation Specia...|$25525.55|18.4521371|-72.2867105|
+---+----------+---------+------+--------+--------------------+---------+----------+-----------+

In [ ]:
df_filter = df2.select("first_name",df2.first_name.substr(2,10).alias("sub name"))
df_filter.show()

+----------+--------+
|first_name|sub name|
+----------+--------+
|   Melinde|  elinde|
|  Kimberly| imberly|
|    Alvera|   lvera|
|   Shannon|  hannon|
|  Sherwood| herwood|
|     Maris|    aris|
|     Masha|    asha|
|   Goddart|  oddart|
|      Roth|     oth|
|      Bran|     ran|
|    Kylynn|   ylynn|
|       Rey|      ey|
|      Kerr|     err|
|    Mickie|   ickie|
|    Kaspar|   aspar|
|    Norbie|   orbie|
|    Claude|   laude|
|     Thain|    hain|
|  Tiffanie| iffanie|
|    Ettore|   ttore|
+----------+--------+
only showing top 20 rows

In [ ]:
df_filter = df2.filter(df2.last_name.like("Mac%") & df2.gender.like("F%"))
df_filter.show()

+---+----------+-----------+------+-----------------+--------------------+---------+-----------+-----------+
| id|first_name|  last_name|gender|             City|            JobTitle|   Salary|   Latitude|  Longitude|
+---+----------+-----------+------+-----------------+--------------------+---------+-----------+-----------+
| 56|   Goldina| MacFarlane|Female|            Gaohe|      Research Nurse|$25341.68|  36.145932|  113.01869|
|182|  Rochella|MacAllister|Female|          Sacanta|  VP Quality Control|$78262.15|-31.4325479|-64.1305924|
|280|     Carri|     Machel|Female|Reckange-sur-Mess|      Accountant III|$15589.56| 49.5636147|  6.0123531|
|775|   Alverta|   MacNulty|Female|       Megalópoli| Geological Engineer|$17299.62|  37.401244| 22.1364871|
|825|     Abbye| MacAndreis|Female|        Chandmanĭ|Accounting Assist...|$87792.30| 45.3369621| 97.9685657|
+---+----------+-----------+------+-----------------+--------------------+---------+-----------+-----------+

In [ ]:
df_filter = df2.filter((df2.id >= 40) & (df2.id <=50))
df_filter.show()

+---+----------+----------+------+------------+--------------------+---------+-----------+-----------+
| id|first_name| last_name|gender|        City|            JobTitle|   Salary|   Latitude|  Longitude|
+---+----------+----------+------+------------+--------------------+---------+-----------+-----------+
| 40| Pierrette|     Calow|Female|   Kaustinen|     Legal Assistant|$85120.77|  63.537266| 23.6993197|
| 41|   Deirdre|Codrington|Female| Buena Vista| Software Engineer I|$85861.33|-17.4586651|-63.6691522|
| 42|   Chelsie|   Yewdell|Female|     Klippan|         Engineer IV|$77039.47| 56.1357417| 13.1119454|
| 43|   Hadrian|    Crumpe|  Male|       Rosso|Physical Therapy ...|$36879.44| 16.5163413| -15.802612|
| 44|   Orville| Rigardeau|  Male|     Kokotów|     Data Coordiator|$20350.35| 50.0142619|  20.096687|
| 45| Gabrielle|  Tippings|Female|    Huangshi|              Editor|$98690.34|   30.20003| 115.038835|
| 46|    Sollie|    D'Acth|  Male|      Mozdok|     Design Engineer|$31385.87| 43.7454199| 44.6830668|
| 47|   Karissa|  Steinham|Female|    Qiligang|Human Resources A...|$56333.77|  30.916426| 118.734651|
| 48|    Farlee|    Callen|  Male| Tanjungluar|Structural Analys...|$16866.41| -8.7765432|116.5093719|
| 49|  Franklyn|     Campo|  Male|     Rzhavki|      Statistician I|$62765.00| 56.0127743| 37.2229806|
| 50|    Joleen|   Kermeen|Female|Pointe-Noire|     Statistician II|$31536.09| -4.7691623|  11.866362|
+---+----------+----------+------+------------+--------------------+---------+-----------+-----------+

** Running SQL on Dataframes**

In [ ]:
df2.registerTempTable("Original") #register the dataframe as a temporary table for running sql queries

In [ ]:
query1 = spark.sql("Select * from Original")
query1.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416| 118.930111|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
only showing top 20 rows

In [ ]:
query2 = spark.sql("select concat(first_name,' ' ,last_name) as fullname from Original where gender='Female'")
query2.show()

+-------------------+
|           fullname|
+-------------------+
|  Melinde Shilburne|
|Kimberly Von Welden|
|    Alvera Di Boldi|
|         Maris Folk|
|       Masha Divers|
|     Kylynn Lockart|
|         Rey Meharg|
|      Claude Briant|
|  Tiffanie Pattison|
|    Lurleen Janczak|
|      Nichol Holtum|
|       Shaun Bridle|
|     Leandra Anfrey|
|    Jaquelyn Hazard|
|  Prudence Honacker|
|       Cherey Liger|
|          Neda Krop|
|    Barbi Fattorini|
|   Lonnie Townshend|
|    Valida Salzberg|
+-------------------+
only showing top 20 rows

In [ ]:
df5 = df5.withColumn("Monthly_salary",df5.clean_salary/12)
df5.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+-----------+-----------+------------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|     clean_city|clean_salary|clean_salary_2|new_salary|     new_latitude|Fem_salary|male_salary|diff Salary|    Monthly_salary|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+-----------+-----------+------------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|      Nowa Ruda|    57438.18|      57438.18|  57438.18|       50.5774075|  57438.18|          0|   57438.18|          4786.515|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|         Bulgan|    62846.60|       62846.6|  62846.60|       48.8231572|  62846.60|          0|    62846.6| 5237.216666666666|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|  Divnomorskoye|    61489.23|      61489.23|  61489.23|       44.5047212|         0|   61489.23|  -61489.23|         5124.1025|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|      Mytishchi|    63863.09|      63863.09|  63863.09|31.93397331237793|         0|   63863.09|  -63863.09| 5321.924166666667|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|Kinsealy-Drinan|    30101.16|      30101.16|  30101.16|       53.4266145|  30101.16|          0|   30101.16|           2508.43|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|      Trélissac|    46116.36|      46116.36|  46116.36|       45.1905186|         0|   46116.36|  -46116.36|           3843.03|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|         Heitan|    73697.10|       73697.1|  73697.10|        32.027934|         0|   73697.10|   -73697.1|          6141.425|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|       Arbeláez|    68098.42|      68098.42|  68098.42|         4.272793|         0|   68098.42|  -68098.42| 5674.868333333333|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|       El Cardo|    13604.63|      13604.63|  13604.63|            -5.85|  13604.63|          0|   13604.63|1133.7191666666665|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|    Wangqingtuo|    73423.70|       73423.7|  73423.70|        39.172378|  73423.70|          0|    73423.7| 6118.641666666666|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|      Sułkowice|    33432.99|      33432.99|  33432.99|       49.8151822|         0|   33432.99|  -33432.99|         2786.0825|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|    Springfield|    50838.53|      50838.53|  50838.53|       42.1014803|         0|   50838.53|  -50838.53| 4236.544166666667|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|         Chrást|    40163.03|      40163.03|  40163.03|       49.7923299|         0|   40163.03|  -40163.03|3346.9191666666666|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|         Xijiao|    32492.73|      32492.73|  32492.73|       43.4945737|         0|   32492.73|  -32492.73|         2707.7275|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|      Mieścisko|    51862.48|      51862.48|  51862.48|       52.7441662|  51862.48|          0|   51862.48| 4321.873333333334|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337| Foros do Trapo|    42135.67|      42135.67|  42135.67|        38.696249|         0|   42135.67|  -42135.67|3511.3058333333333|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|    Jabungsisir|    91925.08|      91925.08|  91925.08|       -7.7232567|  91925.08|          0|   91925.08| 7660.423333333333|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|          Pedra|    73921.33|      73921.33|  73921.33|       40.7172049|         0|   73921.33|  -73921.33| 6160.110833333333|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|          Xin’e|    62755.85|      62755.85|  62755.85|         49.16291|         0|   62755.85|  -62755.85| 5229.654166666666|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|         Xijiao|    13708.03|      13708.03|  13708.03|       40.7576842|         0|   13708.03|  -13708.03|1142.3358333333333|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+-----------+-----------+------------------+
only showing top 20 rows

In [ ]:
df5 = df5.withColumn("is_female",when(df5.gender=='Female',"Female").otherwise("Not Female"))
df5.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+-----------+-----------+------------------+----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|     clean_city|clean_salary|clean_salary_2|new_salary|     new_latitude|Fem_salary|male_salary|diff Salary|    Monthly_salary| is_female|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+-----------+-----------+------------------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|      Nowa Ruda|    57438.18|      57438.18|  57438.18|       50.5774075|  57438.18|          0|   57438.18|          4786.515|    Female|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|         Bulgan|    62846.60|       62846.6|  62846.60|       48.8231572|  62846.60|          0|    62846.6| 5237.216666666666|    Female|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|  Divnomorskoye|    61489.23|      61489.23|  61489.23|       44.5047212|         0|   61489.23|  -61489.23|         5124.1025|Not Female|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|      Mytishchi|    63863.09|      63863.09|  63863.09|31.93397331237793|         0|   63863.09|  -63863.09| 5321.924166666667|Not Female|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|Kinsealy-Drinan|    30101.16|      30101.16|  30101.16|       53.4266145|  30101.16|          0|   30101.16|           2508.43|    Female|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|      Trélissac|    46116.36|      46116.36|  46116.36|       45.1905186|         0|   46116.36|  -46116.36|           3843.03|Not Female|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|         Heitan|    73697.10|       73697.1|  73697.10|        32.027934|         0|   73697.10|   -73697.1|          6141.425|Not Female|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|       Arbeláez|    68098.42|      68098.42|  68098.42|         4.272793|         0|   68098.42|  -68098.42| 5674.868333333333|Not Female|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|       El Cardo|    13604.63|      13604.63|  13604.63|            -5.85|  13604.63|          0|   13604.63|1133.7191666666665|    Female|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|    Wangqingtuo|    73423.70|       73423.7|  73423.70|        39.172378|  73423.70|          0|    73423.7| 6118.641666666666|    Female|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|      Sułkowice|    33432.99|      33432.99|  33432.99|       49.8151822|         0|   33432.99|  -33432.99|         2786.0825|Not Female|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|    Springfield|    50838.53|      50838.53|  50838.53|       42.1014803|         0|   50838.53|  -50838.53| 4236.544166666667|Not Female|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|         Chrást|    40163.03|      40163.03|  40163.03|       49.7923299|         0|   40163.03|  -40163.03|3346.9191666666666|Not Female|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|         Xijiao|    32492.73|      32492.73|  32492.73|       43.4945737|         0|   32492.73|  -32492.73|         2707.7275|Not Female|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|      Mieścisko|    51862.48|      51862.48|  51862.48|       52.7441662|  51862.48|          0|   51862.48| 4321.873333333334|    Female|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337| Foros do Trapo|    42135.67|      42135.67|  42135.67|        38.696249|         0|   42135.67|  -42135.67|3511.3058333333333|Not Female|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|    Jabungsisir|    91925.08|      91925.08|  91925.08|       -7.7232567|  91925.08|          0|   91925.08| 7660.423333333333|    Female|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|          Pedra|    73921.33|      73921.33|  73921.33|       40.7172049|         0|   73921.33|  -73921.33| 6160.110833333333|Not Female|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|          Xin’e|    62755.85|      62755.85|  62755.85|         49.16291|         0|   62755.85|  -62755.85| 5229.654166666666|Not Female|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|         Xijiao|    13708.03|      13708.03|  13708.03|       40.7576842|         0|   13708.03|  -13708.03|1142.3358333333333|Not Female|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+--------------+----------+-----------------+----------+-----------+-----------+------------------+----------+
only showing top 20 rows

In [ ]:
df_sum = df5.groupBy().sum("Monthly_salary")
df_sum.show()

+-------------------+
|sum(Monthly_salary)|
+-------------------+
| 4617107.3549999995|
+-------------------+

In [ ]:
df_sum = df5.groupBy("gender").sum("Monthly_salary")
df_sum.show()

+------+-------------------+
|gender|sum(Monthly_salary)|
+------+-------------------+
|Female| 2273487.7158333347|
|  Male| 2343619.6391666676|
+------+-------------------+

In [ ]:
df_sum = df5.groupBy("gender","city").agg(sum("Monthly_salary").alias("Total Monthly Salary"),
                                   avg("Monthly_salary").alias("Average Monthly Salary"),
                                   count("Monthly_salary").alias("Number of Employees"),
                                   min("Monthly_salary").alias("Minimum salary"),
                                   max("Monthly_salary").alias("Maximum Salary"))
df_sum.show()

+------+-----------------+--------------------+----------------------+-------------------+------------------+------------------+
|gender|             city|Total Monthly Salary|Average Monthly Salary|Number of Employees|    Minimum salary|    Maximum Salary|
+------+-----------------+--------------------+----------------------+-------------------+------------------+------------------+
|Female|      Trollhättan|   8885.280833333332|     4442.640416666666|                  2|         2235.8725| 6649.408333333333|
|  Male|          Wenshao|  1578.4591666666665|    1578.4591666666665|                  1|1578.4591666666665|1578.4591666666665|
|Female|            Lanas|  1147.1583333333333|    1147.1583333333333|                  1|1147.1583333333333|1147.1583333333333|
|  Male|            Mörön|   6495.006666666667|     6495.006666666667|                  1| 6495.006666666667| 6495.006666666667|
|Female|             Same|   6114.144166666666|     6114.144166666666|                  1| 6114.144166666666| 6114.144166666666|
|Female|          Sawahan|  2050.7366666666667|    2050.7366666666667|                  1|2050.7366666666667|2050.7366666666667|
|  Male|Monte da Boavista|             8215.56|               8215.56|                  1|           8215.56|           8215.56|
|Female|         Nusajaya|   5969.826666666667|     5969.826666666667|                  1| 5969.826666666667| 5969.826666666667|
|Female|            Kista|   8016.033333333333|     8016.033333333333|                  1| 8016.033333333333| 8016.033333333333|
|  Male|       Pittsburgh|   6926.824166666666|     6926.824166666666|                  1| 6926.824166666666| 6926.824166666666|
|  Male|       Neftegorsk|           8127.6225|             8127.6225|                  1|         8127.6225|         8127.6225|
|Female|          Yanaoca|   4575.518333333333|     4575.518333333333|                  1| 4575.518333333333| 4575.518333333333|
|  Male|            Tambo|   3355.409166666667|     3355.409166666667|                  1| 3355.409166666667| 3355.409166666667|
|  Male|        Mytishchi|   5321.924166666667|     5321.924166666667|                  1| 5321.924166666667| 5321.924166666667|
|  Male|            Pedra|   6160.110833333333|     6160.110833333333|                  1| 6160.110833333333| 6160.110833333333|
|Female|            Dhaka|   5697.379166666667|     5697.379166666667|                  1| 5697.379166666667| 5697.379166666667|
|  Male|        Mosteiros|           5209.0725|             5209.0725|                  1|         5209.0725|         5209.0725|
|  Male|           Roanne|           7778.3325|             7778.3325|                  1|         7778.3325|         7778.3325|
|Female|        Eindhoven|  2003.5083333333332|    2003.5083333333332|                  1|2003.5083333333332|2003.5083333333332|
|Female|           Sanzao|   5837.455833333333|     5837.455833333333|                  1| 5837.455833333333| 5837.455833333333|
+------+-----------------+--------------------+----------------------+-------------------+------------------+------------------+
only showing top 20 rows

In [ ]:
df5.write.csv("output.csv")

In [ ]:
df5.write.json("output.json")
# df5.write.parquet("output.parquet")

AnalysisException: Attribute name "diff Salary" contains invalid character(s) among " ,;{}()\n\t=". Please use alias to rename it.

### Challenge

In [ ]:
ch_df = spark.read.csv("/content/challenge.csv", header=True)
ch_df.show()

+---------------+--------------+-----------------+----------+
|     ip_address|       Country|      Domain Name|Bytes_used|
+---------------+--------------+-----------------+----------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|
| 119.239.207.13|         China|         youtu.be|        51|
|  68.69.217.210|         China|        adobe.com|        10|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|
|   211.13.10.68|     Indonesia|          hud.gov|        29|
|   239.80.21.97|      Suriname|       smh.com.au|       218|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|
| 127.242.24.138|         China| surveymonkey.com|       123|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|
|   237.54.11.63|         China|       amazon.com|        83|
| 252.141.157.25|         Japan|      cornell.edu|       374|
|185.220.128.248|       Belgium|       weebly.com|       389|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|
|   8.96.188.151|     Indonesia|          ibm.com|       517|
|      5.72.7.65|        Mexico|         youtu.be|       877|
|227.110.112.144|       Croatia|         ehow.com|       287|
|    81.71.28.97|      Thailand|          last.fm|       588|
|  9.255.129.184|      Thailand|          mtv.com|       114|
+---------------+--------------+-----------------+----------+
only showing top 20 rows

In [ ]:
ch_df.count()

1000

create a new column to mark nativity is Mexico or not

In [ ]:
ch_df = ch_df.withColumn("Mexico",when(ch_df.Country=="Mexico","yes").otherwise("No"))
ch_df.show()

+---------------+--------------+-----------------+----------+------+
|     ip_address|       Country|      Domain Name|Bytes_used|Mexico|
+---------------+--------------+-----------------+----------+------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|    No|
| 119.239.207.13|         China|         youtu.be|        51|    No|
|  68.69.217.210|         China|        adobe.com|        10|    No|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|    No|
|   211.13.10.68|     Indonesia|          hud.gov|        29|    No|
|   239.80.21.97|      Suriname|       smh.com.au|       218|    No|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|    No|
| 127.242.24.138|         China| surveymonkey.com|       123|    No|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|    No|
|   237.54.11.63|         China|       amazon.com|        83|    No|
| 252.141.157.25|         Japan|      cornell.edu|       374|    No|
|185.220.128.248|       Belgium|       weebly.com|       389|    No|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|    No|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|    No|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|    No|
|   8.96.188.151|     Indonesia|          ibm.com|       517|    No|
|      5.72.7.65|        Mexico|         youtu.be|       877|   yes|
|227.110.112.144|       Croatia|         ehow.com|       287|    No|
|    81.71.28.97|      Thailand|          last.fm|       588|    No|
|  9.255.129.184|      Thailand|          mtv.com|       114|    No|
+---------------+--------------+-----------------+----------+------+
only showing top 20 rows

based on the nativity , find the total bytes used

In [ ]:
ch_df.groupBy("Mexico").agg(sum("Bytes_used").alias("Total Bytes Used")).show()

+------+----------------+
|Mexico|Total Bytes Used|
+------+----------------+
|    No|        508076.0|
|   yes|          6293.0|
+------+----------------+

no of unique ip address in each country sorted in order of no:

In [ ]:
ch_df.groupBy("Country").agg(countDistinct("ip_address").alias("No of Ip adds")).sort(col("No of Ip adds").desc()).show()

+--------------+-------------+
|       Country|No of Ip adds|
+--------------+-------------+
|         China|          172|
|     Indonesia|          114|
|   Philippines|           65|
|        Russia|           56|
|        Brazil|           35|
|        Poland|           31|
|        Sweden|           28|
|         Japan|           25|
|Czech Republic|           23|
|      Portugal|           23|
|        France|           21|
|          Peru|           19|
|      Colombia|           17|
| United States|           15|
|       Ukraine|           14|
|     Argentina|           14|
|        Mexico|           13|
|      Thailand|           12|
|        Canada|           11|
|       Nigeria|           11|
+--------------+-------------+
only showing top 20 rows

In [ ]:
data = [("Alice", 34, "2021-01-01"), ("Bob", 45, "2020-05-12"), ("Cathy", 29, "2019-07-19")]
columns = ["Name", "Age", "JoinDate"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

# Use various functions
df.select(
    col("Name"),
    col("Age"),
    date_format(col("JoinDate"), "yyyy-MM-dd").alias("FormattedDate"),
    current_date().alias("CurrentDate"),
    datediff(current_date(), col("JoinDate")).alias("DaysSinceJoin"),
    when(col("Age") > 40, "Senior").otherwise("Junior").alias("Category")
).show()

+-----+---+-------------+-----------+-------------+--------+
| Name|Age|FormattedDate|CurrentDate|DaysSinceJoin|Category|
+-----+---+-------------+-----------+-------------+--------+
|Alice| 34|   2021-01-01| 2024-07-05|         1281|  Junior|
|  Bob| 45|   2020-05-12| 2024-07-05|         1515|  Senior|
|Cathy| 29|   2019-07-19| 2024-07-05|         1813|  Junior|
+-----+---+-------------+-----------+-------------+--------+

In [ ]:
df.select(
    col("Name"),
    col("JoinDate")).show()

+-----+----------+
| Name|  JoinDate|
+-----+----------+
|Alice|2021-01-01|
|  Bob|2020-05-12|
|Cathy|2019-07-19|
+-----+----------+