<a href="https://colab.research.google.com/github/connectanitha84/Course-Prep/blob/main/Python_day2_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem Statement
Youâ€™re in charge of organizing a conference event for MBA students interested in data analytics. You need to manage a list of attendees efficiently, handling tasks such as adding new names, removing canceled participants, and sorting the list for smooth check-in.

1) Add Attendees: Start with an empty list called attendees and add the List item following attendees one by one:

2) Cancel Attendance: Remove him from the list.

3) Check for VIP: Check if "VIP Member" is in the attendees list. If not, add them to the beginning of the list.

4) Alphabetical Order: Sort the list of attendees alphabetically for easy lookup.

5) Reverse Order for Check-Out: After the event, reverse the order of attendees to check them out in the reverse order they checked in.

6) Count Attendees: Print the number of people attending the event.

networking_attendees: list of participants

Find & Remove No-Shows: Unfortunately, last  attendee couldn't attend the networking session. Remove her from networking_attendees.

Check Common Attendees: Find attendees who are in both workshop_attendees and networking_attendees and store them in a new list called common_attendees.

Combine Lists for a Grand Event: Combine both workshop_attendees and networking_attendees into a new list called grand_event_attendees.

Unique Attendees: Some names may be duplicated. Remove any duplicates in grand_event_attendees using list methods, so each name appears only once.

Count & Report:

Find the total number of unique attendees.

Print out the list of unique attendees in alphabetical order.

Position Check: Determine the position of "Alice Green" in the final unique attendee list.

Clear Networking List: Clear all attendees from networking_attendees at the end to show that the session has finished.

In [ ]:
# Step 1: Create an empty list and add attendees
attendees = []
attendees.append("John Doe")
attendees.append("Jane Smith")
attendees.append("Mark Brown")
attendees.append("Lucy Gray")

# Step 2: Remove the attendee who canceled
attendees.remove("Mark Brown")

# Step 3: Check and add "VIP Member" if not present
if "VIP Member" not in attendees:
    attendees.insert(0, "VIP Member")

# Step 4: Sort the attendees alphabetically
attendees.sort()

# Step 5: Reverse the order for check-out
attendees.reverse()

# Step 6: Print the count of attendees
print("Total attendees:", len(attendees))

# Final list of attendees
print("Attendees:", attendees)

Total attendees: 4
Attendees: ['VIP Member', 'Lucy Gray', 'John Doe', 'Jane Smith']

In [4]:
# Step 1: Initialize lists
workshop_attendees = []
networking_attendees = ["John Doe", "Emily Clark", "Michael Brown", "Sarah White"]

# Step 2: Add attendees to workshop_attendees
workshop_attendees.extend(["Alice Green", "Charlie Black", "Dana Blue", "John Doe"])

# Step 3: Remove no-show from networking_attendees
if "Sarah White" in networking_attendees:
    networking_attendees.remove("Sarah White")

# Step 4: Find common attendees between both lists
common_attendees = [attendee for attendee in workshop_attendees if attendee in networking_attendees]
8
# Step 5: Combine lists for the grand event
grand_event_attendees = workshop_attendees + networking_attendees

# Step 6: Remove duplicates to get unique attendees
unique_attendees = list(set(grand_event_attendees))

# Step 7: Count unique attendees and sort alphabetically
unique_attendees.sort()
print("Total unique attendees:", len(unique_attendees))
print("Unique attendees in alphabetical order:", unique_attendees)

# Step 8: Find the position of "Alice Green" in unique_attendees
position_alice = unique_attendees.index("Alice Green") + 1  # Adding 1 for human-readable position
print("Position of Alice Green:", position_alice)

# Step 3: Replace incorrect name in networking_attendees
if "Michael Brown" in networking_attendees:
    index = networking_attendees.index("Michael Brown")
    networking_attendees[index] = "Michael Green"
# Step 9: Clear networking_attendees after the event
networking_attendees.clear()

# Final report
print("Workshop Attendees:", workshop_attendees)
print("Networking Attendees (cleared):", networking_attendees)
print("Common Attendees in both sessions:", common_attendees)
print("Grand Event Attendees (no duplicates):", unique_attendees)

Total unique attendees: 6
Unique attendees in alphabetical order: ['Alice Green', 'Charlie Black', 'Dana Blue', 'Emily Clark', 'John Doe', 'Michael Brown']
Position of Alice Green: 1
Workshop Attendees: ['Alice Green', 'Charlie Black', 'Dana Blue', 'John Doe']
Networking Attendees (cleared): []
Common Attendees in both sessions: ['John Doe']
Grand Event Attendees (no duplicates): ['Alice Green', 'Charlie Black', 'Dana Blue', 'Emily Clark', 'John Doe', 'Michael Brown']

Question: Complete the code below to apply a 15% discount if the total purchase amount is above $200.

In [ ]:
total_purchase = 250  # Example amount
if ________ > 200:
    discount = total_purchase * ________
    total_purchase = total_purchase - ________
print("Final Amount:", total_purchase)

In [5]:
#Example: 1- Write the program to remove the duplicate element of the list.

list1 = [1,2,2,3,55,98,65,65,13,29]
# Declare an empty list that will store unique values
list2 = []
for i in list1:
    if i not in list2:
        list2.append(i)
print(list2)

[1, 2, 3, 55, 98, 65, 13, 29]

In [10]:
sum(list1), max(list1), min(list1)

(333, 98, 1)

In [ ]:
#Count() & len()
# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', ['d','f','g']]

# count element 'i'
count = vowels.count('i')

# print count
print('The count of i is:', count)

length = len(vowels)
print("number of elements is :",length)

Question: Complete the code to add a "Loyal Customer" tag to customers who have made over 3 purchases.

In [ ]:
purchases = 4
if purchases ________ 3:
    status = "Loyal Customer"
else:
    status = "Regular Customer"
print("Customer Status:", status)

Question: Complete the code to compare sales from two regions and print "Region A had higher sales" if sales in Region A are greater.

In [ ]:
region_a_sales = 500
region_b_sales = 400
if region_a_sales ________ region_b_sales:
    print("Region A had higher sales")
else:
    print("Region B had higher sales")

Question: Complete the loop to count how many days a daily sales list exceeded the target of $150.

In [ ]:
daily_sales = [120, 180, 130, 160, 200, 140, 170]
target = 150
days_above_target = 0
for sale in ________:
    if sale ________ target:
        days_above_target += 1
print("Days above target:", days_above_target)

Question: Complete the code to calculate the profit for each product and print if it's "Profitable" (profit > 0) or "Not Profitable" (profit <= 0).

In [ ]:
products = {"apple": (50, 40), "banana": (30, 35), "mango": (60, 55)}
for product, (selling_price, cost_price) in ________.items():
    profit = ________ - ________
    if profit > 0:
        print(f"{product}: Profitable")
    else:
        print(f"{product}: Not Profitable")

Question: Complete the loop to calculate the total sales for the quarter by summing the list quarterly_sales.

In [ ]:
quarterly_sales = [300, 400, 500, 600]
total_sales = 0
for sale in ________:
    total_sales += ________
print("Quarterly Sales Total:", total_sales)

Question: Complete the code to check if a product is available in stock, and print "Available" or "Out of Stock" accordingly.

In [ ]:
stock = ["apple", "banana", "mango"]
product = "orange"
if ________ in ________:
    print("Available")
else:
    print("Out of Stock")

Question: Complete the loop to categorize customers based on their ages: "Adult" if age >= 18, otherwise "Minor."

In [ ]:
customer_ages = [16, 20, 17, 30, 15]
for age in ________:
    if age ________ 18:
        category = "Adult"
    else:
        category = "Minor"
    print(f"Age {age}: {category}")

Question: Fill in the blanks to calculate the average order amount.

In [ ]:
orders = [120, 150, 180, 200]
total = sum(orders)
average_order = ________ / ________
print("Average Order Amount:", average_order)

Question: Fill in the blanks to list the days with revenue exceeding $500.

In [ ]:
daily_revenue = [400, 600, 550, 200, 800]
high_revenue_days = []
for revenue in ________:
    if revenue > ________:
        high_revenue_days.append(revenue)
print("High Revenue Days:", high_revenue_days)

Question: Complete the loop to check if a seller has reached $1000 in sales and print "Top Seller" for any seller who meets the requirement.

In [ ]:
sellers = {"Alice": 900, "Bob": 1200, "Charlie": 850}
for name, sales in sellers.items():
    if ________ >= 1000:
        print(f"{name}: Top Seller")

Question: Fill in the code to calculate the percentage of days sales met or exceeded the daily target.

In [ ]:
daily_sales = [180, 150, 130, 170, 200]
target = 150
count = 0
for sale in ________:
    if sale ________ target:
        count += 1
achievement_percentage = (count / len(daily_sales)) * 100
print("Target Achievement Percentage:", achievement_percentage)

Question: Fill in the code to list products that cost less than $20.

In [ ]:
product_prices = {"apple": 10, "banana": 5, "mango": 15, "orange": 25}
affordable_products = []
for product, price in ________.items():
    if price < ________:
        affordable_products.append(product)
print("Affordable Products:", affordable_products)

Question: Complete the code to find and print the highest profit in a list of daily profits.

In [ ]:
daily_profits = [150, 300, 250, 400, 180]
max_profit = ________(daily_profits)
print("Most Profitable Day:", max_profit)

Question: Fill in the blanks to check if a customer has spent more than $500 in a given list of transactions.

In [ ]:
transactions = [120, 200, 300, 50, 90]
total_spent = sum(________)
if total_spent ________ 500:
    print("High Value Customer")
else:
    print("Regular Customer")